@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "IRANSans";
  src: url("/fonts/IRANSans.woff2") format("woff2");
}

.font-arabic {
  font-family: "IRANSans", system-ui, sans-serif;
  direction: rtl;
}

